@import "./icon"
@import "./base"

.ellipsis1
  overflow:hidden
  text-overflow:ellipsis
  white-space:nowrap

.ellipsis2 
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: 2
  // autoprefixer: off
  -webkit-box-orient: vertical
  // autoprefixer: on
